<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('georoots/css/styles.css') }}">

    {% block stylesheets %}
    {% endblock %}
</head>

<body class="bg-light">

{% if user %}
    <div>Welcome, {{ user.fullname }} | <a href="{{ path('logout') }}">Logout</a></div>
{% else %}
    <div><a href="{{ path('login') }}">Login</a> | <a href="{{ path('register') }}">Register</a></div>
{% endif %}

{% block body %}{% endblock %}
<script src="{{ asset('georoots/js/georoots.js') }}"></script>
</body>
</html>
